<header id="branding" role="banner" class="">
	<div class="row header-row">
		<div class="span6">
			<a href="http://www.triskelion-sys.com" target="_blank"><img src="http://resources.mrdf.tv/static/images/mrdf.png" alt=""></a>
			<ul class="social-nav">
				<li class="rss"><a href="http://mrdf.tumblr.com/rss" target="_blank"><img src="http://resources.mrdf.tv/static/images/rss.png" alt="RSS" class="social-bar"></a></li> 
				<li class="youtube"><a href="http://www.youtube.com/user/augustoled" target="_blank"><img src="http://resources.mrdf.tv/static/images/youtube.png" alt="Youtube" class="social-bar"></a></li> 
				<li class="facebook"><a href="https://www.facebook.com/MRDF.tv" target="_blank"><img src="http://resources.mrdf.tv/static/images/facebook.png" alt="Facebook" class="social-bar"></a></li> 
				<li class="twitter"><a href="https://twitter.com/mrdftv" target="_blank"><img src="http://resources.mrdf.tv/static/images/twitter.png" alt="Twitter" class="social-bar"></a></li> 
			<ul>
		</ul></ul></div>
		<div class="span2 offset4">
		</div>
	</div>
</header>